<div class="container pad-btm">
	<h3>Index Page</h3>
	<div class='table'>
		<% _.each(posts, function(post) { %>
			<div class="summary-card">
        <h2><%= post.title %>
          <span> (<%= post.lookupCount %>)</span>
        </h2>
        <div class="text" id="<%= post.id%>-card">
          <script>
          $(document).ready (function () {
            $('#<%= post.id%>-card').append(new showdown.Converter().makeHtml(<%- JSON.stringify({ content: post.solution })%>.content));
          });
          </script>
        </div>
        <div class="footer">

          <span>
            <a href="/post/show/<%= post.id %>" class="btn btn-sm btn-primary">Show</a>
            <a href="/post/edit/<%= post.id %>" class="btn btn-sm btn-warning">Edit</a>
            <a href="/post/destroy/<%= post.id %>" method="data-delete" onclick="return confirm('Are you sure you want to delete this item?');" class="btn btn-sm btn-danger">Delete</a>
          </span>
        </div>
			</div>
		<% }) %>
	</div>
	<h4><a href="/post/new">+ADD+</h4>
</div>

